@use "main" as main;
@use "disable-hover";

button {
  background-color: var(--color-dark);
  color: var(--color-static-white);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color main.$transition-time ease;
}

button:disabled {
  pointer-events: none;
}

.btn-primary {
  padding: 20px 32px;
  background-color: var(--color-dark);
  color: var(--color-static-white);
  border: none;

  &:hover {
    background-color: var(--color-static-white);
    color: var(--color-dark);
  }
}

.btn-slider {
  height: 56px;
  width: 56px;
  background-color: transparent;
  color: var(--color-static-white);
  border: 1px var(--color-static-white) solid;
  &:hover {
    background-color: var(--color-static-white);
    color: var(--color-dark);
    path {
      stroke: var(--color-primary);
    }
  }

  &:disabled {
    border: 1px var(--color-static-white-40) solid;
  }
}

.btn-tab {
  padding: 12px 20px;
  background-color: transparent;
  color: var(--color-static-white);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--color-static-white-20);
  }
  &.active {
    background-color: var(--color-static-white-20);
    pointer-events: none;
  }

  @media (max-width: main.$mobile-max) {
    padding: 12px 8px;
  }
}
