@import "base";
@import "typography";
@import "colors";

$tablet-min: 768px;
$tablet-max: 1060px;
$mobile-max: 767px;

body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--color-static-white);
}

.wrapper {
  padding: 60px 82px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-static-white);
  padding: 12px 82px;
}

.logo a {
  padding: 8px 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  &:hover {
    color: var(--color-primary);
  }
}

.menu > ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.menu a {
  padding: 12px 20px;
  &:not(.disabled):hover {
    color: var(--color-primary);
  }
  &.disabled {
    pointer-events: none;
  }
}

main {
  background-color: var(--color-primary);
  border-radius: 20px;
}

footer {
  background-color: var(--color-static-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contacts-items {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  & a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;

    align-items: center;
    background-color: var(--color-content-background);
    border-radius: 20px;
    flex: 1;
    &:hover {
      color: var(--color-primary);
    }
  }

  & img {
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }

  & p {
    @extend .actionLarge;
  }
  & h3 {
    @extend .header3;
  }

  // Стили для планшетов
  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    flex-direction: column;
  }

  // Стили для телефонов
  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.contacts-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  & .social-items {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 12px;
    & a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.paragraph:hover,
  .caption:hover {
    color: var(--color-primary);
    cursor: pointer;
  }
  & .icon {
    display: block;
    &:hover path {
      stroke: var(--color-primary);
    }
  }
}

.bestGifts-items {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.bestGift-card {
  width: 310px;
  height: 342px;
  background-color: var(--color-static-white);
  border-radius: 20px;

  & .header3 {
    color: var(--color-dark);
  }

  & .bestGift-image {
    height: 230px;
    width: 310px;
  }
  &:hover {
    cursor: pointer;
  }

  &:hover .header3 {
    color: var(--color-primary);
  }
}

.work {
  color: var(--color-tag-purple);
}

.health {
  color: var(--color-tag-green);
}

.harmony {
  color: var(--color-tag-pink);
}

.card-text {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}
