<header>
    <div class="logo ">
        <a href="index.html">
            <img src="./public/assets/logo.svg" alt="Christmas Shop Logo" height="24" width="24"><h1 class="actionSmall">the gifts</h1>
        </a>
    </div>
    <div class="menu actionSmall">
            <ul>
                <li><a href="gifts.html">Gifts</a></li>
                <li><a href="#footer">About</a></li>
                <li><a href="#">Best</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
    </div>
</header>