//FIXME: colors

:root {
  --color-primary: rgba(191, 70, 70, 1);
  --color-background: rgba(191, 108, 66, 1);
  --color-text-dark: rgba(26, 17, 10, 1);
  // --color-primary-10: rgba(255, 70, 70, 0.1);
  // --color-dark: rgba(24, 28, 41, 1);

  // --color-static-white-40: rgba(255, 255, 255, 0.4);
  // --color-static-white-20: rgba(255, 255, 255, 0.2);

  // --color-tag-purple: rgba(67, 97, 255, 1);
  // --color-tag-pink: rgba(255, 67, 247, 1);
  // --color-tag-green: rgba(6, 164, 79, 1);

  // --color-overlay: rgba(24, 28, 41, 0.8);
}
