:root {
  --color-primary: rgba(191, 70, 70, 1);
  --color-background: rgba(191, 108, 66, 1);
  --color-text-dark: rgba(26, 17, 10, 1);
  --color-text-20: rgba(26, 17, 10, 0.2);
  --color-text-hover: rgba(191, 108, 66, 1);
  --color-play-again: rgba(69, 160, 73, 1);
}
