*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
h1,
h2,
h3,
p,
li,
a,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.header1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.36rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header3, .contacts-items h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header4 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: 0rem;
  text-transform: none;
  font-family: "Montserrat", sans-serif;
}

.actionLarge, .contacts-items p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.actionSmall {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.caption {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.075rem;
  text-transform: none;
  font-family: "Allura", sans-serif;
}

.sliderText {
  font-size: 5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-primary: rgba(255, 70, 70, 1);
  --color-primary-10: rgba(255, 70, 70, 0.1);
  --color-dark: rgba(24, 28, 41, 1);
  --color-static-white: rgba(255, 255, 255, 1);
  --color-static-white-40: rgba(255, 255, 255, 0.4);
  --color-static-white-20: rgba(255, 255, 255, 0.2);
  --color-tag-purple: rgba(67, 97, 255, 1);
  --color-tag-pink: rgba(255, 67, 247, 1);
  --color-tag-green: rgba(6, 164, 79, 1);
  --color-content-background: rgba(236, 243, 248, 1);
  --color-overlay: rgba(24, 28, 41, 0.8);
}

body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: var(--color-static-white);
}

.wrapper {
  padding: 60px 82px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-static-white);
  padding: 12px 82px;
}

.logo a {
  padding: 8px 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.logo a:hover {
  color: var(--color-primary);
}

.menu > ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.menu a {
  padding: 12px 20px;
}
.menu a:hover {
  color: var(--color-primary);
}

footer {
  background-color: var(--color-static-white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contacts-items {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.contacts-items a {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  align-items: center;
  background-color: var(--color-content-background);
  border-radius: 20px;
  flex: 1;
}
.contacts-items a:hover {
  color: var(--color-primary);
}
.contacts-items img {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}
.contacts-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.contacts-social .social-items {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 12px;
}
.contacts-social .social-items a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-social.paragraph:hover,
.contacts-social .caption:hover {
  color: var(--color-primary);
  cursor: pointer;
}
.contacts-social .icon {
  display: block;
}
.contacts-social .icon:hover path {
  stroke: var(--color-primary);
}

/*# sourceMappingURL=main.css.map */
